<div class="text-2xl row">
  <div class="col-auto">
    <h2>Welcome,  {{username}}</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="project-name" />
      </div>
      <div class="form-group">
        <label for="blog-content">Blog Post Content:</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

 
  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3 class="pb-4 text-2xl">Current Blog Posts:</h3>
    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4 class="text-2xl"><span class="text-xl pr-6">Go to:</span><a href="/blogs/{{blog.id}}">     {{blog.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
        <a href='/dashboard/edit-post/{{blog.id}}'> <button class="btn btn-sm btn-info">Edit Post</button></a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  <script src="./js/dashboard.js"></script>




